<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">	
	</head>
		<body>
			<div class="header"><h1> {{ guitarshop.name }} <h1></div>
			
			<a href = '{{url_for('publicGuitarCatalog')}}'> Back To Stores </a>
		</br>
		</br>
			{% for i in items %}
		
			<div class="item">
				<h2>
			
					{{i.name}}
					</br>
		
					{{i.description}}
					</br>
		
					${{i.price}}
				<h2>
			

			</div>
			
			</br>
			
			{% endfor %}
		</body>
</html>